<div id="features" class="bg-white relative">
  <div
    class="absolute inset-0 transform skew-y-3 bg-gradient-to-t from-blue-50 to-white"
  >
  </div>
  <div
    class="relative container xl:max-w-6xl mx-auto px-4 py-16 lg:px-8 lg:py-32 space-y-16"
  >
    <!-- Heading -->
    <div class="text-center">
      <h2 class="text-3xl md:text-5xl font-black mb-4">Our Features</h2>
      <h3
        class="text-lg md:text-xl md:leading-relaxed font-medium text-gray-600 lg:w-2/3 mx-auto"
      >
        Amazing integrations will help you reach new customers and improve your
        user satisfaction.
      </h3>
    </div>
    <!-- END Heading -->

    <!-- Features -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-12">
      <div class="py-5 text-center">
        <div
          class="inline-flex items-center justify-center w-16 h-16 ml-3 mb-12 relative"
        >
          <div
            class="absolute inset-0 rounded-3xl -m-2 transform rotate-45 bg-blue-300"
          >
          </div>
          <div
            class="absolute inset-0 rounded-3xl -m-2 transform bg-blue-600 bg-opacity-75"
          >
          </div>
          <svg
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            class="text-white relative transform transition ease-out duration-150 opacity-90 group-hover:scale-125 group-hover:opacity-100 hi-outline hi-code inline-block w-10 h-10"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path></svg
          >
        </div>
        <h4 class="text-xl font-bold mb-2">Web Development</h4>
        <p class="leading-relaxed text-gray-600 text-left">
          We design your website to measure with the best designers, and we
          develop it taking care of SEO and UX to make the conversion of
          customers more effective.
        </p>
      </div>
      <div class="py-5 text-center">
        <div
          class="inline-flex items-center justify-center w-16 h-16 ml-3 mb-12 relative"
        >
          <div
            class="absolute inset-0 rounded-3xl -m-2 transform rotate-45 bg-blue-300"
          >
          </div>
          <div
            class="absolute inset-0 rounded-3xl -m-2 transform bg-blue-600 bg-opacity-75"
          >
          </div>
          <svg
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            class="text-white relative transform transition ease-out duration-150 opacity-90 group-hover:scale-125 group-hover:opacity-100 hi-outline hi-device-mobile inline-block w-10 h-10"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z"
            ></path></svg
          >
        </div>
        <h4 class="text-xl font-bold mb-2">Google & Meta Ads</h4>
        <p class="leading-relaxed text-gray-600 text-left">
          We develop campaigns perfectly adapted to your product. We design the
          covers and our copywriters complement to get the best results.
        </p>
      </div>
      <div class="py-5 text-center">
        <div
          class="inline-flex items-center justify-center w-16 h-16 ml-3 mb-12 relative"
        >
          <div
            class="absolute inset-0 rounded-3xl -m-2 transform rotate-45 bg-blue-300"
          >
          </div>
          <div
            class="absolute inset-0 rounded-3xl -m-2 transform bg-blue-600 bg-opacity-75"
          >
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="text-white relative transform transition ease-out duration-150 opacity-90 group-hover:scale-125 group-hover:opacity-100 hi-outline hi-device-mobile inline-block w-10 h-10"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155"
            ></path>
          </svg>
        </div>
        <h4 class="text-xl font-bold mb-2">Digital marketing</h4>
        <p class="leading-relaxed text-gray-600 text-left">
          We advise you or manage your networks so that your brand grows
          exponentially.
        </p>
      </div>
    </div>
    <!-- END Features -->
  </div>
</div>
