<div class="bg-white">
  <div
    class="space-y-16 container xl:max-w-6xl mx-auto px-4 py-16 lg:px-8 lg:py-32"
  >
    <!-- Heading -->
    <div class="text-center">
      <h2 class="text-3xl md:text-5xl font-black mb-4">How it works</h2>
      <h3
        class="text-lg md:text-2xl md:leading-relaxed font-medium text-gray-500 lg:w-2/3 mx-auto"
      >
        It's as simple as it sounds and ever more!
      </h3>
    </div>
    <!-- END Heading -->

    <!-- Steps -->
    <div class="grid grid-cols-1 gap-4 sm:gap-6 sm:grid-cols-2 lg:grid-cols-3">
      <div
        class="p-10 bg-gradient-to-t from-blue-50 to-white border-2 border-blue-50 hover:border-blue-100 transition rounded-2xl text-center"
      >
        <svg
          class="hi-outline hi-desktop-computer inline-block w-12 h-12 text-blue-500 mb-5"
          stroke="currentColor"
          fill="none"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
          ></path></svg
        >
        <h4 class="text-lg font-bold mb-2">1. We manage the strategy</h4>
        <p class="leading-relaxed text-gray-500 text-sm text-left">
          We analyze your business and visualize the best options to give you
          growth as fast as possible.
        </p>
      </div>
      <div
        class="p-10 bg-gradient-to-t from-blue-50 to-white border-2 border-blue-50 hover:border-blue-100 transition rounded-2xl text-center"
      >
        <svg
          class="hi-outline hi-cube inline-block w-12 h-12 text-blue-500 mb-5"
          stroke="currentColor"
          fill="none"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4"
          ></path></svg
        >
        <h4 class="text-lg font-bold mb-2">
          2. We incorporate it into your business
        </h4>
        <p class="leading-relaxed text-gray-500 text-sm text-left">
          We make the necessary changes to meet the objectives and adapt them
          perfectly to your business and your values.
        </p>
      </div>
      <div
        class="p-10 bg-gradient-to-t from-blue-50 to-white border-2 border-blue-50 hover:border-blue-100 transition rounded-2xl text-center sm:col-span-2 lg:col-span-1"
      >
        <svg
          class="hi-outline hi-presentation-chart-line inline-block w-12 h-12 text-blue-500 mb-5"
          stroke="currentColor"
          fill="none"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z"
          ></path></svg
        >
        <h4 class="text-lg font-bold mb-2">3. We record your growth</h4>
        <p class="leading-relaxed text-gray-500 text-sm text-left">
          Through panels and different metrics we control the growth of your
          business, always working at the same time.
        </p>
      </div>
    </div>
    <!-- END Steps -->
  </div>
</div>
