---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Hero2 from "../components/Hero2.astro";
import HIW from "../components/HIW.astro";
import Features from "../components/Features.astro";
---

<Layout title="Welcome to Astro.">
  <main class="mt-12">
    <Hero2 />
    <HIW />
    <Features />
  </main>
</Layout>

<style></style>
